<footer>
    <div class="ctts">
    <div class="info1">pppppppp</div>
    <div class="info1">pppppppp</div>
    <div class="info1">pppppppp</div>
    <div class="info1">pppppppp</div>
    <div class="info1">pppppppp</div>
    </div>
    <div class="iconzap">zap Icon</div>
    </footer>