<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href='/css/style.css'/>
    <title>Document</title>
</head>
<body>
<header>
<div class="buttonH">
<button class="buttonHeader">Zap</button>
<button class="buttonHeader">Login</button>
<button class="buttonHeader">Carrinho</button>

</div>


</header>



<div></div>
<footer>
<div class="ctts">
<div class="info1">pppppppp</div>
<div class="info1">pppppppp</div>
<div class="info1">pppppppp</div>
<div class="info1">pppppppp</div>
<div class="info1">pppppppp</div>
</div>
<div class="iconzap"></div>
</footer>
</body>
</html>