<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href='/css/login.css'/>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo"><h1>Ascent Technology</h1></div>
      <div class="buttonH">
      <button class="buttonHeader"><a href="http://localhost:5000/home" class="home-link">Home</a></button>
      <button class="buttonHeader"><a href="http://localhost:5000/home/login" class="login-link">Login</a></button>
      <button class="buttonHeader"><a href="http://localhost:5000/home/login/cadastro" class="cadastro-link">Cadastre-se</a></button>
      
      </div>
      
      
      </header>
<div class="bodyl">
<div class="login">
<form action="/registro" method="post">
    <h3>Login</h3>
<input type="text" name="email" placeholder="Email:"/>
<input type="password" name="senha" placeholder="Senha:">
<input type="submit" name="acao" value="enviar" />

</form>







</div>
</div>
   
</body>

</html>